.desktop-logo {
    display: block;
    padding-top: 7px;
  }
  .mobile-logo {
    display: none;
  }
  
  @media (max-width: 768px) {
    .desktop-logo {
      display: none;
    }
    .mobile-logo {
      display: block;
      padding-top: 7px;
    }
  }
  